@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: antiquewhite;
  color: brown;
  text-align: center;
}

.hide {
  display: none;
}

.welcome-logo {
  font-size: 10em;
  color: #78573b;
}

#app {
  display: flex;
  justify-content: center;
}